### Data cleaning 
* import the data set(csv)
* observe the dataset
    * Identify the rows/columns and their relation
    * Identify the index column (primary key column)
    * check if there are any duplicate columns
    * which rows are skipped
* ssign the index column (to avoid creation of new index col
* skip irrelevent rows( to avoid irrelevent index rows)
* drop duplicate and irrelevent columns

In [10]:
import pandas as pd
data=pd.read_csv('olympics.csv',index_col=0,skiprows=1)

### data Retrival
* index
* colnames
* second col 
* any column
* First row
* any row
* head () is default first five rows it prints
* or
* single cell data

In [62]:
for col in data.columns:
    if col[:2]=='01':
        data.rename(columns={col:'Gold'+col[5:]}, inplace=True)
    if col[:2]=='02':
        data.rename(columns={col:'Silver'+col[5:]}, inplace=True)
    if col[:2]=='03':
        data.rename(columns={col:'Bronze'+col[5:]}, inplace=True)
    if col[:1]=='â„–':
        data.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = data.index.str.split('\s\(') # split the index b
data.index = names_ids.str[0] # the [0] element is the country name (new index) 
data['ID'] = names_ids.str[1].str[:3]

In [69]:
data.index # return index column
data.columns # return column names or first row
data['Total.1'] # return Total.1 column
data.head(1) # it sub dataframe  print first row data
data.loc['Belarus']
data.index[1]# returns second country name
data['Gold'][3]# it returns the gold medal got fifth country
data.iloc[4][1]# it returns the gold medals of second data
data.loc['India'][-2]
data

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold1,Silver1,Bronze1,Total.1,# Games,Gold2,Silver2,Bronze2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,CIV
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,CYP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,TPE
Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,TJK
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,THA
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA
Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,TRI
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,TUN
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,UGA
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,URU
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,VEN
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,VIE
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,NaN

In [98]:
# return the first row
data.columns

Index(['# Summer', 'Gold', 'Silver', 'Bronze', 'Total', '# Winter', 'Gold1',
       'Silver1', 'Bronze1', 'Total.1', '# Games', 'Gold2', 'Silver2',
       'Bronze2', 'Combined total', 'ID'],
      dtype='object')

In [70]:
# Display the combined total column indexes
data['Combined total']

Afghanistan                             2
Algeria                                15
Argentina                              70
Armenia                                12
Australasia                            12
Australia                             480
Austria                               304
Azerbaijan                             26
Bahamas                                12
Bahrain                                 1
Barbados                                1
Belarus                                90
Belgium                               147
Bermuda                                 1
Bohemia                                 4
Botswana                                1
Brazil                                108
British West Indies                     2
Bulgaria                              220
Burundi                                 1
Cameroon                                5
Canada                                449
Chile                                  13
China                                 526
Colombia                               19
Costa Rica                              4
Ivory Coast                             1
Croatia                                34
Cuba                                  209
Cyprus                                  1
                                    ...
Sri Lanka                               2
Sudan                                   1
Suriname                                2
Sweden                                627
Switzerland                           323
Syria                                   3
Chinese Taipei                         21
Tajikistan                              3
Tanzania                                2
Thailand                               24
Togo                                    1
Tonga                                   1
Trinidad and Tobago                    18
Tunisia                                10
Turkey                                 88
Uganda                                  7
Ukraine                               122
United Arab Emirates                    1
United States                        2681
Uruguay                                10
Uzbekistan                             21
Venezuela                              12
Vietnam                                 2
Virgin Islands                          1
Yugoslavia                             87
Independent Olympic Participants        3
Zambia                                  2
Zimbabwe                                8
Mixed team                             17
Totals                              17579
Name: Combined total, Length: 147, dtype: int64

In [75]:
# united states
data.loc['United States']

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold1               96
Silver1            102
Bronze1             84
Total.1            282
# Games             48
Gold2             1072
Silver2            859
Bronze2            750
Combined total    2681
ID                 USA
Name: United States, dtype: object

In [85]:
# return total number of games participated by 10th country in summer
data['# Summer'][9]

8

In [91]:
# return total no of medals won by last country
data
data['Combined total'].tail(1)
data['Combined total'][-1]

17579

In [101]:
# return no of medals won by united states
data['Combined total']['United States']
data.loc['United States']['Gold2']

1072

In [105]:
# deference between summer gold medals of usa and china
a=data.loc['United States']['Gold']-data.loc['China']['Gold']
a

775

In [124]:
# maximum goldmedal in winter
# data = data.drop('Totals')
data['Gold1'].max()

118

In [126]:
# summ all gold medals in summer
data['Gold'].sum()

4809

In [130]:
# return boolean series object for the maximum number
data['Gold']==data['Gold'].max()
data.loc[(data['Gold']==data['Gold'].max())]
#or
data[data['Gold']==data['Gold'].max()].index

Index(['United States'], dtype='object')

In [164]:
# retrurn the data of the country that got maximum number of medals silver and gold
data['Total'].max()==data['Total']
data['g+s']=data['Gold2']+data['Silver2']+data['Bronze2']
data[data['g+s']==data['g+s'].max()].index[0]
# data[data['Combined total'].max()==data['Combined total']]
# a=data.loc['Gold2']+data.loc['China']['Silver2']
# data

'United States'

In [ ]:
#